.Alldiv {
  justify-content: center;
}

h2 {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.hello {
  display: flex;
  gap: 2rem;
  margin-left: 16rem;
}

.all {
  display: flex;
  gap: 3rem;
  margin-left: 16rem;

}

.hello11 {
  display: flex;
}

